/* 어바웃미 타이틀 시작 */
.bg-me {
    height:500px;
    position: relative;
    margin-top:7%;
    margin-left:5%;
}

.bg-me > .me-circle {
    width:300px;
    height:300px;
    background-color: #F19581;
    position: absolute;
    top:8%;
    left:10%;
    border-radius: 50%;
    z-index: 1;
}
.bg-me > .me {
    width:22%;
    z-index: 4;
    position: absolute;
    top:2%;
    left:10%;
}
.bg-me > .dott {
    width:22%;
    z-index: 2;
    position: absolute;
    top:0;
    left:2%;
}
.bg-me > .me-title-box >.me-title {
    position: absolute;
    top:0;
    right:20%;
    font-size: 3.5rem;
}
.bg-me > .me-title-box > .me-title-2 {
    position: absolute;
    top:10%;
    right:35%;
    font-size: 4rem;
    color:#D7C4A8;
}
.bg-me > .me-title-box > .me-title-3 {
    position: absolute;
    top:10%;
    right:10%;
    font-size: 3.5rem;
}
/* 어바웃미 타이틀 끝 */

/* 어바웃미 서브 시작*/

.bg-me > .me-sub-box > .about-me {
    position: absolute;
    top:30%;
    right:20%;
    font-size: 2rem;
}
.bg-me > .me-sub-box > .about-me-2 {
    position: absolute;
    top:40%;
    right:13%;
    font-size: 1rem;
    color:#afafaf;
    width:400px;
    letter-spacing: .5;
}
/* 어바웃미 서브 끝 */
.contacts {
    background: linear-gradient(to top, #DF6B52 40%, transparent 40%);
    font-size:2rem;
    margin-left:15%;
}
.contact-box > .email-ico {
    font-size:2.5rem;
    margin-left:13%;
    padding:20px;
}
.contact-box > .email-text {
    font-size:1rem;
    padding:0 20px;
}
.contact-box > .phone-ico {
    font-size:2.5rem;
    margin-left:23%;
    padding:20px;
}
.contact-box > .phone-text {
    font-size:1rem;
    padding:0 20px;
}