/* 어바웃미 타이틀 시작 */
.bg-me {
    height:30vw;
    position: relative;
    margin-top:3%;
    margin-left:5%;
    margin-left: auto;
    margin-right:auto;
}
.bg-me > .me-box {
    border:2px solid red;
    height: 30vw;
}
.bg-me > .me-box > .me-circle {
    width:27%;
    height:auto;
    background-color: #F19581;
    position: absolute;
    top:4%;
    left:10%;
    padding-top:27%;
    border-radius: 50%;
    z-index: 1;
}
.bg-me > .me-box > .me {
    width:25%;
    z-index: 4;
    position: absolute;
    left:11%;
}
.bg-me > .me-box > .dott {
    width:22%;
    z-index: 2;
    position: absolute;
    top:0;
    left:2%;
}
.bg-me > .me-text-box {
    border:2px solid green;
    height: 30vw;
    width:100%;
    position:relative;
}
.bg-me > .me-text-box > .me-title-box {
    border:2px solid blue;
    height: 50%;
    width:100%;
}
.bg-me > .me-text-box > .me-title-box >.me-title {
    position: absolute;
    top:5%;
    right:30%;
    font-size: 3vw;
}
.bg-me > .me-text-box > .me-title-box > .me-title-2 {
    position: absolute;
    top:15%;
    left:30%;
    font-size: 3.5vw;
    color:#D7C4A8;
}
.bg-me > .me-text-box > .me-title-box > .me-title-3 {
    position: absolute;
    top:15%;
    right:10%;
    font-size: 3vw;
}
/* 어바웃미 타이틀 끝 */

/* 어바웃미 서브 시작*/
.bg-me > .me-text-box > .me-sub-box {
    border:2px solid pink;
    height: 50%;
    width:100%;
    position: relative;
}
.bg-me > .me-text-box > .me-sub-box > .about-me {
    position: absolute;
    top:5%;
    left:3%;
    font-size: 2vw;
    background: linear-gradient(to top, #DF6B52 40%, transparent 40%);
}
.bg-me > .me-text-box > .me-sub-box > .about-me-2 {
    position: absolute;
    top:30%;
    font-size: 1vw;
    color:#afafaf;
    letter-spacing: .5;
    text-align:center;
    left:3%;
}
@media (max-width:780px) {
    .bg-me > .me-box ,.bg-me > .me-text-box{
        flex-wrap: wrap;
    }
}
/* 어바웃미 서브 끝 */
.contacts {
    background: linear-gradient(to top, #DF6B52 40%, transparent 40%);
    font-size:2vw;
    left:0;
}
.contact-box {
    margin-left:auto;
    margin-right:auto;
    height:8vw;
}
.contact-box > div > div {
    margin-top:20px;
}
.contact-box > div > div > .email-ico {
    font-size:2.5vw;
    padding:20px;
}
.contact-box > div > div > .email-text {
    font-size:1vw;
    padding:20px;
}
.contact-box > div > div >.phone-ico {
    font-size:2.5vw;
    padding:20px;
}
.contact-box > div >  div > .phone-text {
    font-size:1vw;
    padding:20px;
}
.contact-box > div .insta-ico {
    font-size:2.5vw;
    padding:20px;
}
.contact-box > div .insta-text {
    font-size:1vw;
    padding:20px;
}
/* 소프트웨어 시작 */

.software {
    background: linear-gradient(to top, #DF6B52 40%, transparent 40%);
    font-size:2vw;
    left:0;
}
.software-box {
    margin-left:auto;
    margin-right:auto;
    height:15vw;
}
.software-box > .ico {
    width: 100px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* 소프트웨어 끝  */

.education {
    background: linear-gradient(to top, #DF6B52 40%, transparent 40%);
    font-size:2vw;
    left:0;
}
@media (max-width:600px) {
    .software-box > .ico {
        flex-wrap: wrap;
    }
}