@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('font/Myriad-Pro_31655.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue-Book.ttf') format('truetype');
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
html, body {
    overflow-x: hidden;
}
/* 메인 시작 */

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main>.copyright {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

.main>.main-img {
    display: inline-block;
    width: auto;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    overflow: hidden;
}

.main>.main-img>div {
    display: inline-block;
    font-family: 'BebasNeue';
    font-size: 30px;
    position: absolute;
    top: 75%;
    left: 12%;
    padding: 7px 0;
    letter-spacing: 0.8em;
    animation: down 1s 2.3s forwards;
    transition: transform .4s;
    opacity: 1;
}

.main>.main-img>.folio,
.main>.main-img>.kyung {
    top: 75%;
    right: 1.4%;
    left: auto;
    letter-spacing: 0.7em;
}

@keyframes down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
        display: none;
    }
}

.main>.light {
    width: 460px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30%;
    transform: translateX(-50%)translateY(-50%);
    background-color: #ff0000;
    box-shadow: 0px 0px 8px 5px #ff0000;
    animation: blinker .7s 1.6s forwards;
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    opacity: 0;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.main>.main-img>.sung,
.main>.main-img>.kyung {
    animation: up 1s 2.7s forwards;
    opacity: 0;
    transform: translateY(50px);
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main>.main-img>.sung {
    left: 11%;
}

.main>.main-img>.kyung {
    letter-spacing: 0.6em;
    right: 1.5%;
}

/* 메인 끝 */

/* 2페이지 시작 */
.page-2 {
    width: 100%;
    height: 100vh;
}

.page-2>.img-box {
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.page-2>.img-box >.img-wrap {
    width:90%;
    height:90%;
    margin-top:40px;
    margin-left:50px;
    position: relative;
    transition:transform 3s;
}
.page-2>.img-box:hover >.img-wrap {
    transform: translateY(-100%);
}
.page-2>.img-box .img-wrap > div {
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
.page-2>.text-box {
    width: 60%;
    height: 100%;
    border-left: 1px solid #e3e3e3;
    position:relative;
}
.page-2>.text-box > .title {
    font-family: 'BebasNeue';
    color:#6B6B6B;
    font-size:72px;
    margin-top:20px;
    position: relative;
}
.page-2>.text-box > .title::after {
    content:"";
    width:350px;
    height:6px;
    background-color: #ff0000;
    position: absolute;
    top:100%;
    right:0;
    left:auto;
}
.page-2>.text-box > .count-num {
    color:#ff0000;
    font-family: "BebasNeue";
    font-size:70px;
    letter-spacing: 0.1em;
    margin-left:50px;
    margin-top:20px;
}
.tab-box > .head > ul{
   border:1px solid red;
   margin-top:700px;
   margin-left:70px;
}
.tab-box > .head > ul > li {
    padding:0 20px;
}



.owl-carousel{
    width:100%;
    height:50%;
    position: absolute;
    bottom:8%;
    left:0;
    margin-left:20px;
}
.owl-carousel .item {
    width:250px !important;
    height:380px;
    background-color:#e3e3e3;
    display:inline-block;
    position: relative;
    cursor:pointer;
}
.owl-carousel .item .w-box {
    width:210px;
    height:150px;
    position: absolute;
    top:20px;
    left:20px;
    background-color:#fff;
}

.item.border  .w-box {
    border:2px solid #ff0000;
}

.owl-carousel .item .w-box > img {
    width:170px;
    margin:0 auto;
    padding-top:60px;
}
.owl-carousel .item .title-box {
    width:200px;
    height:auto;
    position: absolute;
    top:55%;
    left:20px;
}
.owl-carousel .item .title-box .title {
    font-size:20px;
}
.owl-carousel .item .title-box .cont {
    font-size:13px;
    margin-top:10px;
}
.owl-carousel .item .title-box .cont > a {
    font-size:10px;
    text-decoration: underline;
}
.owl-carousel .item .title-box .cont > a:hover {
    color:#ff0000;
}
.owl-carousel .item .view-btn {
    width:120px;
    height:38px;
    background-color: #ff0000;
    color:#fff;
    border-radius: 12px;
    position: absolute;
    bottom:5%;
    right:20px;
    text-align: center;
}
.owl-carousel .item .view-btn > a {
    font-size:15px;
    display: block;
    margin-top:8px;
}
.owl-carousel .item .view-btn:hover {
    background-color: #fff;
    color:#000;
}

/* 2페이지 끝 */