@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('font/Myriad-Pro_31655.ttf') format('truetype');
}

@font-face {
    font-family: 'Myriad light';
    src: url('font/Myriad-Pro-Light_31642.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'hey August';
    src: url('font/Hey August.ttf') format('truetype');
}
/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
html, body {
    overflow-x: hidden;
}
/* 스크롤바 변경 */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #FFf;
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 16px;
    height: 13px;
    background: rgb(255, 255, 255);
}
/* 메인 시작 */
/* html,body {
    height:100%;
} */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main>.copyright {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

.main>.main-img {
    display: inline-block;
    width: auto;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    overflow: hidden;
}

.main>.main-img>div {
    display: inline-block;
    font-family: 'BebasNeue';
    font-size: 30px;
    position: absolute;
    top: 75%;
    left: 12%;
    padding: 7px 0;
    letter-spacing: 0.8em;
    animation: down 1s 2.3s forwards;
    transition: transform .4s;
    opacity: 1;
}

.main>.main-img>.folio,
.main>.main-img>.kyung {
    top: 75%;
    right: 1.4%;
    left: auto;
    letter-spacing: 0.7em;
}

@keyframes down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
        display: none;
    }
}

.main>.light {
    width: 440px;
    height: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: red;
    box-shadow: 0px 0px 20px 15px #ff484898;
    animation: blinker .9s 1.6s forwards;
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    opacity: 0;
}

@keyframes blinker {
    0% {
        opacity: 0;
        top:40%;
    }

    50% {
        opacity: 1;
        top:55%;
    }

    100% {
        opacity: 0;
    }
}

.main>.main-img>.sung,
.main>.main-img>.kyung {
    animation: up 1s 2.7s forwards;
    opacity: 0;
    transform: translateY(50px);
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main>.main-img>.sung {
    left: 11%;
}

.main>.main-img>.kyung {
    letter-spacing: 0.6em;
    right: 1.5%;
}

/* 메인 끝 */

/* 2페이지 시작 */
.page-2 {
    width: 100%;
    height: 100vh;
}

.page-2>.img-box {
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.page-2>.img-box >.img-wrap {
    width:90%;
    height:90%;
    margin-top:30px;
    margin-left:50px;
    position: relative;
}
.page-2>.img-box >.img-wrap > a {
    display:block;
    height:100%;
    background-size:100% auto;
    background-position:0 0;
    background-repeat: no-repeat;
    transition:background-position 4s;
}
.page-2>.img-box:hover >.img-wrap > a {
    background-position:0 100%;
}
.page-2>.text-box {
    width: 60%;
    height: 100%;
    border-left: 1px solid #e3e3e3;
    position:relative;
}
.page-2>.text-box > .title {
    font-family: 'BebasNeue';
    color:#6B6B6B;
    font-size:72px;
    margin-top:20px;
    position: relative;
}
.page-2>.text-box > .title::after {
    content:"";
    width:350px;
    height:6px;
    background-color: #ff0000;
    position: absolute;
    top:100%;
    right:0;
    left:auto;
}
.page-2>.text-box > .count-num {
    color:#ff0000;
    font-family: "BebasNeue";
    font-size:70px;
    letter-spacing: 0.1em;
    margin-left:50px;
    margin-top:20px;
    display:inline-block;
    width:200px;
    height:168px;
}
.tab-box > .head {
    z-index: 300;
}
.tab-box > .head > ul{
   margin-left:20px;
   position: absolute;
   bottom:8%;
   left:15px;
   z-index: 301;
}
.tab-box > .head > ul > li {
    padding:0 15px;
    cursor:pointer;
    color:#afafaf;
    z-index: 998;
}
.tab-box > .head > ul > li.active-tab {
    color:black;
}
.tab-box > .body {
    position:relative;
    max-width: 1200px;
    max-height: 600px;
}
.tab-box > .body > ul {
    width:100%;
    height:400px;
}
.tab-box > .body > ul > li {
    position: relative;
    top:90%;
    left:20px;
    width:1200px;
    height:300px;
    display:none;
    z-index: 1;
}

.tab-box > .body > ul > li.active-tab {
    display:block;
}
.owl-carousel{
    width:1200px;
    height:300px;
    position: absolute;
    bottom:40%;
    left:0;
    margin-left:20px;
    z-index: 10;
}
.menu-1 {
    z-index: -1;
}
.owl-carousel .item {
    width:250px !important;
    height:380px;
    background-color:#e3e3e3;
    display:inline-block;
    position: relative;
    cursor:pointer;
}
.owl-carousel .item .w-box {
    width:210px;
    height:150px;
    position: absolute;
    top:20px;
    left:20px;
    background-color:#fff;
}
.owl-carousel .item div {
    z-index: 1;
}
.item.border  .w-box {
    border:2px solid #424242;
}

.owl-carousel .item .w-box > img {
    width:170px;
    margin:0 auto;
    padding-top:60px;
}
.owl-carousel .item .title-box {
    width:200px;
    height:auto;
    position: absolute;
    top:55%;
    left:20px;
}
.owl-carousel .item .title-box .title {
    font-size:20px;
}
.owl-carousel .item .title-box .cont {
    font-size:13px;
    margin-top:10px;
}
.owl-carousel .item .title-box .cont > a {
    font-size:10px;
    text-decoration: underline;
}
.owl-carousel .item .title-box .cont > a:hover {
    color:#ff0000;
}
.owl-carousel .item .view-btn {
    width:120px;
    height:38px;
    background-color: #ff0000;
    color:#fff;
    border-radius: 12px;
    position: absolute;
    bottom:5%;
    right:20px;
    text-align: center;
}
.owl-carousel .item .view-btn > a {
    font-size:15px;
    display: block;
    margin-top:8px;
}
.owl-carousel .item .view-btn:hover {
    background-color: #fff;
    color:#000;
}
@media (max-height:850px) {
    .owl-carousel {
        bottom:45%;
    }
    .owl-carousel .item {
        height:330px;
    }
    .tab-box > .body > ul > li {
        top:60%;
    }
}
/* 2페이지 끝 */

/* 3페이지 시작 */
.page-3 {
    width:100%;
    height: 100vh;
}
.page-3 > .img-box-3 {
    width:50%;
    height:100%;
}
.page-3 > .img-box-3 >.monitor {
    position: relative;
    width:90%;
    margin-top:25%;
    margin-left:3%;
    box-sizing: border-box;
}
.page-3 > .img-box-3 >.monitor > img {
    display: block;
    width: 100%;
}
.page-3 > .img-box-3 >.monitor > .img-box-2 {
    position:absolute;
    width:90%;
    height: 63%;
    top:7%;
    left:6%;
    overflow: hidden;
}
.page-3 > .img-box-3 >.monitor > .img-box-2 img {
    position: relative;
    width:100%;
    height:auto;
    z-index: -1;
}
.page-3 > .text-box-3 {
    width:50%;
    height:100%;
    border-left:1px solid #e3e3e3;
    position: relative;
}
.page-3>.text-box-3 > .title {
    font-family: 'BebasNeue';
    color:#6B6B6B;
    font-size:72px;
    margin-top:20px;
    padding-right:40px;
    position: relative;
}
.page-3>.text-box-3 > .title::after {
    content:"";
    width:210px;
    height:6px;
    background-color: #ff0000;
    position: absolute;
    top:100%;
    right:0;
    left:auto;
}
.page-3>.text-box-3 > .count-num {
    color:rgb(65, 65, 65);
    font-family: "BebasNeue";
    font-size:100px;
    letter-spacing: 0.15em;
    position: absolute;
    top:19%;
    right:8%;
}
.page-3>.text-box-3 > .sub {
    width:500px;
    height:200px;
    position:absolute;
    right:10%;
    top:43%;
    text-align:right;
}
.page-3>.text-box-3 > .sub > .title-en-box {
    color:#ff0000;
    padding-right:10px;
    padding:20px 0;
}
.page-3>.text-box-3 > .sub > .title-ko-box {
    font-size:40px;
    margin-top:-20px;
    white-space:nowrap;
    font-weight:bold;
}
.page-3>.text-box-3 > .sub > .tool-box {
    font-family: 'Myriad light';
    display: block;
    margin-top:20px;
    color:#4d4d4d;
}
.page-3>.text-box-3 > .sub  .palette {
    margin-top:5px;
}
.page-3>.text-box-3 > .sub  .palette-box {
    font-family: 'Myriad light';
    display:inline-block;
    padding-right:8px;
    color:#4d4d4d;
}
.page-3>.text-box-3 > .sub  .palette-img-box {
    display:inline-block;
}

.page-3>.text-box-3 > .sub > .title-en-box,.page-3>.text-box-3 > .sub > .creat-box {
    display:inline-block;
    font-family: 'Myriad Pro';
}

.slide-2  {
    position: absolute;
    bottom:8%;
    left:50px;
    width:800px;
    height:200px;
    overflow: hidden;
}
.slide-2 > .owl-carousel {
    position: absolute;
    left:0;
    bottom:0;
    width:800px;
    height:200px;
    margin-left:30px;
}
.slide-2 > .owl-carousel .item {
    width:140px !important;
    height:140px;
    background-color: #f0ecec;
    display: flex;
    cursor: pointer;
}
.slide-2 > .owl-carousel .item img {
    width:100%;
    height:auto;
    box-sizing: border-box;
    padding:10%;
}
.owl-item.active {
    width:170px !important;
}
.slide-2 .owl-carousel .owl-stage-outer {
    overflow: visible;
}
.slide-2 > .owl-carousel .item-2-1 {
    background-color: #E71C21;
}
.slide-2 > .owl-carousel .item-2-2 {
    background-color: #1C6953;
} 
.slide-2 > .owl-carousel .item-2-3 {
    background-color: #243544;
}
.slide-2 > .owl-carousel .item-2-4 {
    background-color: #F28F29;
}
.slide-2 > .owl-carousel .item-2-5 {
    background-color: #1d7955;
}
.slide-2 > .owl-carousel .item-2-6 {
    background-color: #e22f4b;
}
.slide-2 > .owl-carousel .item-2-7 {
    background-color: #c6979c;
}
.slide-2 > .owl-carousel .item-2-8 {
    background-color: #ffc636;
}
.slide-2 > .owl-carousel .item-2-9 {
    background-color: #e94d24;
}
.slide-2 > .owl-carousel .item-2-10 {
    background-color: #333;
}
.slide-2 > .owl-carousel .item-2-11{
    background-color: #f3d535;
}
.slide-2 > .owl-carousel .item-2-12 {
    background-color: #0078ad;
}

.slide-2 > .owl-carousel .item.border-1 {
    border:2px solid transparent;
    box-shadow: 7px 7px 5px #5e5e5e96;
}
.slide-2 > .owl-carousel .owl-nav {
    /* border:1px solid red; */
    position: absolute;
    bottom:0;
    display: inline-block;
}
.slide-2 > .owl-carousel .owl-nav .owl-prev, .slide-2 > .owl-carousel .owl-nav .owl-next {
    background-color: transparent;
    color:gray;
    font-size:16px;
}
@media (max-height:850px) {
    .page-3>.text-box-3 > .sub {
        top:45%;
    }
    .slide-2 {
        bottom:0%;
    }
}
/* 3페이지 끝 */

/* 4페이지 시작 */
.page-4 {
    width:100%;
}
.page-4 .receipt-box {
    position: relative;
    margin-top:60px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.page-4 .receipt-box > img {
    display: block;
    width:100%;
    z-index: -1;
}
.page-4 .receipt-box > .profile-txt-box {
    position: absolute;
    max-width:850px;
    width: 100%;
    top:8%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}
@media (max-width: 970px) {
    .page-4 .receipt-box > .profile-txt-box {
        max-width:700px;
    }
}
.page-4 .receipt-box > .profile-txt-box >.about-me {
    font-family: 'hey August';
    font-size: 150px;
    color:#333;
    text-align: center;
    padding-top:50px;
}
.page-4 .receipt-box > .profile-txt-box >.name {
    text-align: center;
    font-size: 19px;
    color:#303030;
}

.page-4 .receipt-box > .profile-txt-box >.profile-cont {
    border-bottom:3px dashed #b3b3b3;
    position: relative;
    font-size:18px;
    margin-top:100px;
    padding-bottom:40px;
    line-height: 1.45;
}
.page-4 .receipt-box > .profile-txt-box >.profile-cont .pro-box div {
    display: inline-block;
}
.page-4 .receipt-box > .profile-txt-box >.profile-cont .pro-box div:first-child {
    font-weight: bold;
    font-size:25px;
    width:76px;
}
.page-4 .receipt-box > .profile-txt-box >.profile-cont .pro-box div:last-child {
    font-size:20px;
}

.page-4 .receipt-box > .profile-txt-box >.profile-cont .tag-box div {
    position: absolute;
    top:30%;
    right:0;
    display:block;
    font-size: 25px;
}
.page-4 .receipt-box > .profile-txt-box >.profile-cont .tag-box div:last-child {
    top:52%;
}
.page-4 .receipt-box > .profile-txt-box >.edu {
    border-bottom:3px dashed #b3b3b3;
    position: relative;
    padding-bottom: 22px;
    padding-top:22px;
}
.page-4 .receipt-box > .profile-txt-box >.edu .education, .page-4 .receipt-box > .profile-txt-box >.edu > .certificate {
    font-size:28px;
    font-weight: bold;
    padding-top:8px;
    padding-bottom:10px;
}
.page-4 .receipt-box > .profile-txt-box .edu-box {
    padding:1px 0;
    padding-left:5px;
}
.page-4 .receipt-box > .profile-txt-box .edu-box .edu-1, .page-4 .receipt-box > .profile-txt-box >.edu .cer-box .date  {
    font-size:20px;
}
.page-4 .receipt-box > .profile-txt-box .edu-box .edu-2, .page-4 .receipt-box > .profile-txt-box >.edu .cer-box .cer {
    font-size:18px;
}
.page-4 .receipt-box > .profile-txt-box >.edu > .certificate {
    padding-top:20px;
}
.page-4 .receipt-box > .profile-txt-box >.edu .cer-box {
    padding:1px 0;
    padding-left:5px;
}
.page-4 .receipt-box > .profile-txt-box >.edu .cer-box > div {
    display: block;
}
.page-4 .receipt-box > .profile-txt-box >.edu .cer {
    padding:2px 0;
}
.page-4 .receipt-box > .profile-txt-box >.skill {
    padding-left:5px;
} 
.page-4 .receipt-box > .profile-txt-box >.edu > div:last-child {
    padding-bottom:20px;
}
.page-4 .receipt-box > .profile-txt-box >.skill >.skill-title {
    font-size:28px;
    font-weight: bold;
    padding-top:30px;
    padding-bottom: 10px;
}
.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont {
    padding:12px 0;
    font-size:20px;
}
.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .sk {
    width:100px;
    height: auto;
}
.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .per {
    padding-right:25px;
}
.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .progress {
    position: relative;
    width:600px;
    height:20px;
    background-color: #E0E0DF;
    align-self: center;
}
.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .progress > div {
    content:"";
    display: block;
    width:0;
    transition: width 1.5s;
    box-sizing: border-box;
    background-color: #4d4d4d;
    position: relative;
}

.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .progress::after {
    content: "";
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    background-color:#eeefef;
    height:20px;
}

.page-4 .receipt-box > .profile-txt-box >.skill .skill-cont > .progress > div::after {
    content:"";
    display: block;
    position: absolute;
    width:40px;
    height: 20px;
    background-color:#E0E0DF;
    right:0;
    transform-origin:top right;
    transform: rotate(-45deg);
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-1 > div {
    width:80%;
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-2 > div {
    width:90%;
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-3 > div {
    width:50%;
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-4 > div {
    width:60%;
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-5 > div {
    width:70%;
}
.page-4 .receipt-box > .profile-txt-box >.skill.active .skill-cont > .pro-6 > div {
    width:70%;
}
.page-4 .receipt-box > .profile-txt-2 {
    max-width:900px;
    position: absolute;
    bottom:6.5%;
    left:50%;
    transform: translateX(-50%);
}
.page-4 .receipt-box > .profile-txt-2 >.thank {
    text-align: center;
    font-size:30px;
    font-weight:700;
    padding-left:20px;
}
.page-4 .receipt-box > .profile-txt-2 >.feedback {
    text-align: center;
    padding-top:225px;
    padding-left:20px;
    letter-spacing: 0.08em;
    white-space: nowrap;
    font-family: 'Myriad Pro' ;
    font-size:13px;
}
.page-4 .receipt-box > .profile-txt-2 >.read {
    font-family: 'Myriad light' ;
    padding-left:20px;
    font-size:13px;
}
@media (max-width:970px) {
    .page-4 .receipt-box > .profile-txt-2 {
        max-width: 700px;
        bottom:5%;
    }
    .page-4 .receipt-box > .profile-txt-2 >.feedback {
        padding-top:130px;
    }
}
/* 4페이지 끝 */

/* contact 페이지 시작 */
.page-contact {
    width:100%;
    border-top:1px solid #dfdfdf;
    padding-bottom:40px;
    position: relative;
}
.page-contact > .phone {
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-image: url(https://sung-kyung.github.io/img1/pf/portfolio/phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:100%;
    height:400px;
}
.page-contact > .phone > .con-txt {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    font-family: 'BebasNeue';
    font-size:40px;
    letter-spacing: 0.2em;
}
.form-box {
    display: block;
    padding:50px 0;
    text-align: center;
}
.form-box > form > #name > input, .form-box > form > #email > input  {
    width:919px;
    height:52px;
}
input {
    margin:15px 0;
}
.form-box > form > #content > textarea {
    width:919px;
    height:149px;
    margin:15px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
}
.form-box > form > #submit > input {
    background-color: #ff0000;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #ff0000;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(255, 255, 255, .5);
    color:#fff;
    font-size:20px;
    letter-spacing: 0.08em;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.form-box > form > #submit > input:hover {
    background-color: #fff;
    color:#333;
    border: 1px solid #333;
}
.notice {
    text-align: center;
    color:#afafaf;
    padding-bottom:30px;
    padding-top:20px;
    font-size:13px;
}
.contact-bottom > div {
    color:#555555;
}
.contact-bottom > div > span {
    font-size:14px;
}
.contact-bottom > div > i {
    font-size:20px;
    padding:0 20px;
    color:#555555;
}
/* contact 페이지 끝 */

/* top버튼 */
.top-btn {
    position: fixed;
    width:100px;
    height:auto;
    bottom:-6px;
    left:30px;
    cursor: pointer;
}
.top-btn > a {
    display: block;
    width:50px;
    text-align: center;
    font-family: 'Myriad Pro';
    padding-left:3px;
}
.top-btn > img {
    width:50px;
}
/* top버튼 끝 */
