.list-title {
    margin-top:20px;
    margin-bottom:20px;
}
.img-box {
    overflow:hidden;
    position:relative;
}
.list-box > li {
    display:flex;
    max-height:400px;
}
.list-box > li .img-box{
    flex:1 0 0;
    cursor: pointer;
    padding-top:28%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
}
.list-box > li .img-box::before {
    content:"";
  display:block;
  background-color:rgba(0,0,0,.0);
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition:background-color .4s;
  z-index:1;
  
}
.list-box > li:hover .img-box::before {
    background-color:rgba(0,0,0,.5);
} 
.list-box > li  .img-box::after {
    content:"view";
  text-transform:uppercase;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  color:white;
  font-weight:bold;
  font-size:2rem;
  border:2px solid white;
  padding:10px 30px;
  border-radius:5px;
  opacity:0;
  transition: opacity .4s;
  z-index:2;
}
.list-box > li:hover  .img-box::after {
    opacity:1;
}

.list-box > li > .go-detail {
    flex:1 0 0;
    font-size:2rem;
    font-weight: 500;
    text-align: center;
     
}
.list-box > li:nth-child(2n)  .img-box {
    order:1;
}
.list > .txt-box {
    line-height: 2.3;
    
}
.list  .txt-box > .summary {
    color:#afafaf;
    font-size: 0.8rem;
    left:10%;
    display:block;
    width:70%;
    margin-left: auto;
    margin-right:auto;
    
}
.list > .txt-box > .title {
    font-size: 2rem;
}
@media (max-width:600px) {
    .list-box {
        flex-wrap: wrap;
    }

    .list-box > .list > * {
        width:100%;
        flex-basis:auto !important
        ;
    }
}