@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Play:wght@400;700&display=swap');

html {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('font/NanumSquareR.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('font/NanumSquareB.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('font/Copperplate Gothic Bold Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('font/CopperplateGothicBold.ttf') format('truetype');
  font-weight: 700;
}
/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
  padding:0;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}

*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-nowrap {
  flex-flow: row nowrap;
}

*>.flex-row-wrap {
  flex-flow: row nowrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/* 커스텀 */
.con-min-width {
  min-width: 1200px;
}

.con {
  width: 1356px;
}


/* 커스텀 */
html, body {
  min-width:1900px;
}
/* 탑바 시작 */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: white;
  z-index: 100;
  background-color: #ba000c;
}
.top-bar>.logo {
  padding-left:30px;
}
.top-bar>.logo img {
  width: 200px;
}

.top-bar>.menu-box-1 {
  margin-right: 40px;
}
.top-bar>.menu-box-1>ul>li {
  position: relative;
  padding:0 30px;
  white-space: nowrap;
}
.top-bar>.menu-box-1>ul>li>a {
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.top-bar>.menu-box-1>ul ul {
  display: none;
  top: 100%;
  left:0;
  width:100%;
  position: absolute;
  box-shadow: 5px 3px 5px #77767660;
}

.top-bar>.menu-box-1>ul ul>li>a {
  background-color: white;
  color: black;
  padding: 8px 0;
  text-align: center;
  font-weight: 500;
  font-size:15px;
  white-space: nowrap;
}

.top-bar>.menu-box-1>ul ul>li:hover>a {
  color: white;
  background-color: #991720;
}

.top-bar>.menu-box-1>ul>li:hover ul {
  display: block;
}

/* 탑바 끝 */

/* 메인 시작 */
.bg {
  width: 100%;
  height:100vh;
  background-color: #ba000c;
  position: relative;
}

.bg>.main-img-1 > img {
  position:absolute;
  width:30%;
  top: 50%;
  left: 5%;
  display: inline-block;
  transform: translateY(-50%);
}

.bg .content {
  top: 30%;
  right:10%;
  width: 500px;
  height: auto;
  position:absolute;
  user-select: none;
}

.bg .main-title {
  font-size: 2.1vw;
  font-weight: bold;
  z-index: 1;
  white-space: nowrap;
  width: 300px;
  line-height: 1.2;
  top:50%;
  right:20%;
}

.bg>.content>.main-title-2,
.bg>.content>.main-title-3 {
  color: white;
  font-size: 4vw;
}

.bg>.content>.main-title-4 {
  color: #f8df86;
  line-height: 1.7;
  font-size: 1.1vw;
  font-weight: 200;
  margin-top: 30px;
  letter-spacing: 0.1rem;
}

.discover-box {
 margin-top:70px;
}

.discover-box>.discover-text {
  display: inline-block;
  margin-left: 40px;
  font-size: 1.3rem;
  font-weight: 700;
}

.discover-round-1 {
  width: 60px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #e9e9e9;
  position: relative;
  cursor: pointer;
}

.discover-round-1>section {
  width: 10%;
  height: 55%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  transition: transform 1s;
}

.discover-round-1>section::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.discover-round-1 > .cross::before, .discover-round-1 > .cross::after {
  content:"";
  display:block;
  position: absolute;
  width:60%;
  top:calc(50% - 1px);
  left:20%;
  height:2px;
  background-color:black;
}

.discover-round-1 > .cross::after {
  transform: rotate(90deg);
}

.discover-round-1 > .cross {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.discover-round-1:hover > .cross {
  transform: rotate(45deg);
}

.bingsu-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%)translateY(-50%);
  animation:updown 1.2s infinite alternate forwards;
}
@keyframes updown {
  0% {
    transform: translatex(-50%)translateY(-48%);
  }
  100% {
    transform: translatex(-50%)translateY(-53%);
  }
}
/* 메인 끝 */

/* 2페이지 시작 */

.bg-2{
  position: relative;
  overflow: hidden;
}
.bg-2 > .sub-title {
  position: absolute;
  display: inline-block;
  top:10%;
  left: 50%;
  transform: translateX(-50%);
}
.bg-2 > .line-2 {
  position:absolute;
  width:150px;
  height: 2px;
  background-color: black;
  top:25%;
  left:50%;
  transform: translateX(-50%);
}
.bg-2 > .sub-title-2 {
  position:absolute;
  top:30%;
  left:50%;
  transform: translateX(-50%);
  font-size:1.5rem;
  font-weight:500;
  letter-spacing: 0.02rem;
  color:white;
  font-family: 'Nanum Square';
}
.bg-2 > .btn-go-to-menu {
  position:absolute;
  top:40%;
  left:50%;
  transform: translateX(-50%);
  font-size:1.2rem;
  font-weight:100;
  letter-spacing: 0.04rem;
  color:white;
  border:2px solid white;
  padding:10px 20px;
}
.bg-2 > .btn-go-to-menu > a {
  padding: 40px;
}
.bg-2 > .btn-go-to-menu:hover {
  background-color: white;
  color:#ba000c;
}
.bg-2 >.berry-box  {
  position: absolute;
  top:30%;
  left:10%;
  height:70%;
  width:25%;
}
.bg-2 >.berry-box > .berry {
  user-select: none;
  width:100%;
  display: block;
}
.bg-2 >.berry-box > .berry-text {
  z-index: 2;
  font-weight: 500;
  font-size:1.4rem;
  position: absolute;
  bottom:30%;
  left:90%;
  white-space: nowrap;
  font-family: 'Nanum Square';
}
.bg-2 >.vanilla-box {
  position:absolute;
  top:17%;
  right:10%;
  height:70%;
  width:25%;
}
.bg-2 >.vanilla-box > .vanilla {
  user-select: none;
  width:100%;
  display: block;
}

.bg-2 >.vanilla-box > .vanilla-text {
  display: inline-block;
  position: absolute;
  top:60%;
  right:90%;
  font-weight: 500;
  font-size:1.4rem;
  white-space: nowrap;
  font-family: 'Nanum Square';
}
.bg-2 > .choco-box {
  position:absolute;
  top:40%;
  right:2%;
  height:70%;
  width:26%;
}
.bg-2 > .choco-box  > .choco {
  user-select: none;
  width:100%;
  display: block;
}
.bg-2 > .choco-box  > .choco-text {
  position:absolute;
  bottom:35%;
  right:90%;
  font-weight: 500;
  font-size:1.4rem;
  white-space: nowrap;
  font-family: 'Nanum Square';
}
/* 2페이지 끝 */

/* 3페이지 시작 */
.bg-3 {
  position: relative;
  overflow: hidden;
  background-image: url(https://sung-kyung.github.io/img1/pf/hollys/3page_wave.png);
  background-repeat: no-repeat; 
  width:100%;
  height:100vh;
}
.wave-3 {
  z-index: -1;
  display: inline-block;
}
.box-1, .box-2 {
  width:50%;
  height:inherit;
  position: relative;
}
.box-1 > .pooh1 {
  position: absolute;
  top:45%;
  right:0;
}
.box-1 > .pooh2 {
  position: absolute;
  top:37%;
  left:25%;
}
.box-1 > .pooh3 {
  position: absolute;
  top:60%;
  left:40%;
  z-index: -2;
  animation:balloon 5s infinite forwards;
}
.box-1 > .pooh > img {
  width:100%;
  display: block;
}
@keyframes balloon {
  0% {
    top:70%;
  }
  100% {
    top:-30%;
  }
}
.box-1 > .logo-box {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30%;
  z-index: 3;
}
.box-1 > .logo-box > span {
  display: inline-block;
  position: absolute;
  bottom:7%;
  left:5%;
}
.box-1 > .logo-box > span img {
  width:400px;
}
.box-2 > .product-box {
  width:100%;
  height:70%;
}
.box-2 > .product-box > div {
  width:50%;
  text-align: center;
  margin-top:95px;
}
.box-2 > .product-box > div .cup-box {
  position: relative;
  cursor:pointer;
}
.box-2 > .product-box > div .cup-box:hover::before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,.5);
}
.box-2 > .product-box > div .cup-box:hover::after {
  content:"VIEW";
  position: absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%)translateY(-50%);
  color:#333;
  border:2px solid #333;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  padding:7px 20px;
  letter-spacing:0.1em;
  font-size:20px;
}
.box-2 > .product-box > div .cup-box-1:hover::after {
  transform:translateX(-10%)translateY(-50%);
}
.box-2 > .product-box > div div .cup1 {
  height:380px;

}
.box-2 > .product-box > div div .cup2 {
  height:380px;
}
.box-2 > .product-box > div >.cup-text-box {
  width:300px;
  height:100px;
  margin:0 auto;
  margin-top:10px;
}
.box-2 > .product-box > div >.cup-text-box .cup-title {
  font-size:14px;
  text-align: right;
}
.box-2 > .product-box > div >.cup-text-box .price {
  text-align: right;
  font-size:20px;
  font-weight: bold;
  color:#ba000c;
}
.box-2 > .roll {
  display: inline-block;
  position: absolute;
  bottom:10%;
  left:50%;
}
.box-2 > .roll > img {
  width:140px;
}
/* 3페이지 끝 */

/* 4페이지 시작 */
.bg-4 {
  width:100%;
  height:100vh;
  position: relative;
}
.with-text-box {
  border:1px solid red;
  width:40%;
  height:700px;
  transform: translateY(30%);
  font-family: 'Copperplate Gothic';
}
.with-text-box > h1 {
  color:#ba000c;
  font-family: 'Copperplate Gothic';
  font-weight: 700;
  font-size:60px;
}
.with-text-box > h2 {
  color:#ba000c;
  font-family: 'Copperplate Gothic';
  font-weight: 500;
  font-size:40px;
}
/* 4페이지 끝 */
